:root {
  --primary-bg: #6D4C41;
  --hover-title: #FBC02D;
  --button-hover: rgba(255, 235, 205, 0.2);
  --menu-hover: #FFF8E1;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}